canvas {
    top: 50px;
    background: #000000; 
    display: block; 
    margin: 0 auto; 
} 
        
body {
    background-color: #000000;
}
        
.videobox {
	position: absolute;
    right: 220px;
    top: 10px;
    border-radius: 3px;
   	margin-right: 10px;
    width: 215px;
    height: 162px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 #00000030;
}